@import 'global';

.Home {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Home-cover-text {
    color: white;
    margin: 5% 10% 10% 10%;
    line-height: 2;
    letter-spacing: 3px;

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }
}