.CompanyItemCard {
  border: 2px white solid;
  padding: 2rem;
  margin: 1rem;
  width: 15%;
  min-height: 25%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.CompanyItemCard a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: black;
}

.CompanyItemCard a h2 {
  font-size: 20px;
  padding-bottom: 1rem;
}

.CompanyItemCard a p {
  margin-top: 1rem;
  font-size: 14px;
}

.CompanyItemCard a button {
  margin-top: 1rem;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  display: inline-block;
  border: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.CompanyItemCard a button:hover {
  text-shadow: 0px 0px 6px white;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.JobItemCard {
  border: 2px white solid;
  padding: 2rem;
  margin: 1rem;
  width: 15%;
  min-height: 25%;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  color: black;
}

.JobItemCard a {
  color: black;
  text-decoration: none;
}

.JobItemCard h2 {
  font-size: 1.3vw;
  padding-bottom: 1rem;
  border-bottom: 1px black solid;
}

.JobItemCard h3 {
  display: inline-block;
  font-size: 1.2vw;
  margin-left: 0.5rem;
}

.JobItemCard span {
  margin: 0.5rem 0;
}

.JobItemCard .JobItem-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 0;
}

.JobItemCard .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/job.png");
}

.JobItemCard p {
  margin-top: 1rem;
  font-size: 14px;
}

.JobItemCard .JobItem-btn {
  text-decoration: none;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5ba82f;
  padding: 10px;
  margin-top: 1rem;
  display: inline-block;
  border: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.JobItemCard .JobItem-btn:hover {
  text-shadow: 0px 0px 6px white;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 1024px) {
  .JobItemCard {
    width: 33%;
  }
  .JobItemCard h2 {
    font-size: 3vw;
  }
  .JobItemCard h3 {
    font-size: 2.2vw;
  }
  .JobItemCard span {
    font-size: 2.3vw;
  }
  .CompanyItemCard {
    width: 33%;
  }
  .CompanyItemCard h2 {
    font-size: 3vw;
  }
  .CompanyItemCard h3 {
    font-size: 2.2vw;
  }
  .CompanyItemCard span {
    font-size: 2.2vw;
  }
}
/*# sourceMappingURL=ItemCard.css.map */