.Job {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 50%;
    height: 250px;
    margin: 2rem auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
        display: inline;
        text-decoration: none;
        color: black;

        &::before {
            content: url('../img/job.png');
            padding: 0 5px 0 0;
            vertical-align: middle;
        }


    }

    .revoked {
        color: rgb(243, 57, 57);
        font-size: 20px;

        &::before {
            content: url('../img/revoked.png');
            margin-right: 0.3rem;
        }
    }

    .applied {
        color: rgb(3, 177, 3);
        font-size: 20px;

        &::before {
            content: url('../img/applied.png');
            margin-right: 0.3rem;
        }
    }

    .btn-apply {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #5ba82f;
        padding: 10px;
        border: none;
        display: inline-block;
        transition: all 0.4s ease 0s;

        &:hover {
            font-size: 14px;
            text-shadow: 0px 0px 6px rgb(255, 255, 255);
            border-radius: 5px;
            padding: 13px;
        }

        &:active {
            padding: 5px;
        }
    }

    .btn-revoke {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #b62525;
        padding: 10px;
        border: none;
        display: inline-block;
        transition: all 0.4s ease 0s;

        &:hover {
            font-size: 14px;
            text-shadow: 0px 0px 6px rgb(255, 255, 255);
            border-radius: 5px;
            padding: 13px;
        }

        &:active {
            padding: 5px;
        }
    }

}