.Jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;

  h1 {
    color: white;
    font-size: 48px;
    letter-spacing: 3px;
    margin: 5vh;
  }
}

.JobsItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.not-found {
  padding: 20%;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  text-align: center;
}

.pagination {
  margin: 3% auto 5% auto;
  display: flex;
  list-style: none;
  outline: none;
  color: #fff;
  font-size: 18px;

  a {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 5px;
    padding: 15px 20px;
    outline: none;
    cursor: pointer;

    &:hover {
      transition: 0.2s all ease-in-out;
      background-color: #ffffff;
      border-color: #ffffff;
      color: rgb(0, 0, 0);
    }
  }

  .previous {
    margin-right: 5px;
  }

  .next {
    margin-left: 5px;
  }

  .disabled {
    a {
      background-color: #e6e6e6 !important;
      color: black !important;
    }
  }

  .pagination-active {
    a {
      background-color: #ffffff;
      border-color: #ffffff;
      color: rgb(0, 0, 0);
    }
  }
}
