.Profile {
  font-family: Montserrat, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.Profile h3 {
  margin: 10px 0 15px 0;
}

.Profile p {
  font-size: 14px;
  line-height: 21px;
}

.Profile-main {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #000000;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.Profile-main img {
  border: 1px solid #0382cb;
  border-radius: 50%;
  padding: 7px;
  width: 250px;
  height: 250px;
}

.Profile-main a {
  text-decoration: none;
  background-color: #3484fd;
  border-radius: 3px;
  color: #231E39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 5px 15px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.Profile-main a:hover {
  color: #ffffff;
  text-shadow: 0px 0px 6px white;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.Profile-main .Profile-info {
  background-color: #d6d6d6;
  text-align: left;
  padding: 15px;
}

.Profile-main .Profile-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Profile-main .Profile-info ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

.Profile-applications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-top: 3rem;
}

.Profile-applications h2 {
  color: white;
  font-size: 32px;
}

.applications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Profile-Job {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid white;
  width: 250px;
  height: 150px;
  margin: 2rem;
  padding: 1.5rem;
}

.Profile-Job a {
  text-decoration: none;
  color: black;
}

.Profile-Job .revoked {
  color: #f33939;
  font-size: 20px;
}

.Profile-Job .revoked::before {
  content: url("../img/revoked.png");
  margin-right: 0.3rem;
}

.Profile-Job .applied {
  color: #03b103;
  font-size: 20px;
}

.Profile-Job .applied::before {
  content: url("../img/applied.png");
  margin-right: 0.3rem;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: #aaa;
}

.btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 3px;
  text-decoration: none;
}

.btn i {
  padding-right: 0.3em;
}
/*# sourceMappingURL=Profile.css.map */