.Profile {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;

    h3 {
        margin: 10px 0 15px 0;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }
}

.Profile-main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #000000;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;

    img {
        border: 1px solid #0382cb;
        border-radius: 50%;
        padding: 7px;
        width: 250px;
        height: 250px;
    }

    a {
        text-decoration: none;
        background-color: #3484fd;
        border-radius: 3px;
        color: #231E39;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        padding: 5px 15px;
        transition: all 0.4s ease 0s;

        &:hover {
            color: #ffffff;
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
            transition: all 0.4s ease 0s;
        }
    }

    .Profile-info {
        background-color: #d6d6d6;
        text-align: left;
        padding: 15px;
        margin-top: 5%;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                border-radius: 2px;
                display: flex;
                font-size: 18px;
                margin: 0 7px 7px 0;
                padding: 7px;
                border-bottom: 1px solid black;

                span {
                    padding: 0 10px;
                    font-weight: 600;
                }
            }
        }
    }
}

.Profile-applications {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-top: 3rem;

    h2 {
        color: white;
        font-size: 32px;

    }
}

.applications {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

    .company {
        display: block;
        margin: 5px 0;
    }
}

.Profile-Job {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    width: 250px;
    height: 150px;
    margin: 2rem;
    padding: 1.5rem;
    transition: 0.1s all ease-in-out;

    &:hover {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 10px white;
        padding: 1.8rem;

        h3:hover {
            text-shadow: 0 0 5px white;
            border-bottom: 1px solid black;
        }
    }

    .Job-Link {
        text-decoration: none;
        color: black;

    }

    .status {
        display: block;
        margin: 15px 0;
    }

    .revoked {
        color: rgb(243, 57, 57);
        font-size: 20px;

        &::before {
            content: url('../img/revoked.png');
            margin-right: 0.3rem;
        }
    }

    .applied {
        color: rgb(3, 177, 3);
        font-size: 20px;

        &::before {
            content: url('../img/applied.png');
            margin-right: 0.3rem;
        }
    }

}


.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    &>div {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: #ffffff;
    }

    header {
        font-weight: bold;
    }

    h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

small {
    color: #aaa;
}

.btn {
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;

    i {
        padding-right: 0.3em;
    }
}

.Profile-form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    label {
        margin-top: 15px;
        font-weight: 600;
    }

    input {
        border: 0;
        outline: none;
        border-bottom: 1px solid black;
        padding: 10px 0;
        font-size: 14px;
        transition: 0.2s all ease-in-out;

        &:focus {
            border: 2px solid black;
            padding: 10px 5px;
            box-shadow: 0 0 2px black;
        }
    }
}

#submit {
    margin: 5% auto 0 auto;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #5ba82f;
    padding: 10px;
    border: none;
    display: inline-block;
    transition: all 0.4s ease 0s;

    &:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        transition: all 0.4s ease 0s;
    }
}